<a href="https://colab.research.google.com/github/Rahuljha-cell/Leetcode-Practice/blob/main/Lists_for_ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list = ["a", 2, 3]
print(list)

In [4]:
list1 = [i for i in range(10)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list2 = [[1,2,3] for i in range(10)]
print(list2)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [7]:
list3 = [[j for j in range(5)] for j in range(5)]
print(list3)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [8]:
list4 = [[j*j for j in range(5)] for j in range(5)];
print(list4);

[[0, 1, 4, 9, 16], [0, 1, 4, 9, 16], [0, 1, 4, 9, 16], [0, 1, 4, 9, 16], [0, 1, 4, 9, 16]]

In [9]:
list5 = [[j+i for j in range(5)] for i in range(5)];
print(list5);

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8]]

In [11]:
list6 = [[3*i+j for j in range(3)] for i in range(3)]
print(list6);

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [16]:
R = int(input("Enter the number of rows: "))
C = int(input("Enter the number of columns: "))
list7 = [int(x) for x in input().split()]
print("List in 1D: ", list7)

a = []

for i in range(R):
  a.append([])
  for j in range(C):
    a[i].append(list7[C*i+j])

print("List in 2D", a)

Enter the number of rows: 2
Enter the number of columns: 2
1 2 3 4
List in 1D:  [1, 2, 3, 4]
List in 2D [[1, 2], [3, 4]]

In [18]:
#Initialize matrix
list8 = [[1,2,3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

print("array:", list8)
rows = len(list8)
cols = len(list8[0]);

print(rows, cols)

for j in range(cols):
  if j % 2 == 0:
    for i in range(rows):
      print(list8[i][j])
  else:
    i = rows - 1
    while (i >= 0):
      print(list8[i][j])
      i = i -1

array: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
4 3
1
4
7
10
11
8
5
2
3
6
9
12

In [22]:
import math as m
m.gcd(120, 45)

15